absl-py==2.1.0
annotated-types==0.7.0
astunparse==1.6.3
click==8.2.1
deepinv==0.3.1
einops==0.8.1
flatbuffers==24.3.25
fsspec==2025.5.1
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.66.2
h5py==3.14.0
hdf5storage==0.2.0
libclang==18.1.1
lightning-utilities==0.14.3
matplotlib==3.10.0
mkl-service==2.4.0
ml-dtypes==0.3.2
namex==0.0.8
natsort==8.4.0
odl==0.8.1
opt-einsum==3.4.0
optree==0.13.0
pydantic==2.11.5
pydantic_core==2.33.2
protobuf==6.31.1
PyQt5==5.15.10
scikit-image
scikit-learn
scipy
tensorboard-data-server==0.7.2
termcolor==2.5.0
tifffile
torch==2.2.2
torchaudio==2.2.2
torchmetrics==1.7.2
torchvision==0.17.2
tqdm==4.67.1
typing-inspection==0.4.1
wandb==0.20.1
wheel==0.45.1
